.inline-header {
  color: gray;
  background-color: yellow;
  font-size: 40px;
}

.outline-header {
  color: blueviolet;
  background-color: red;
  font-size: 40px;
}

.midline-header {
  color: rgb(15, 237, 15);
  background-color: blanchedalmond;
  font-size: 33px;
}
